/* Mise en forme du corps de la page : */
body
{
    height: 100%;
    margin: 0;
    padding: 0;
    background: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main
{
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main>div
{
  width: auto;
}

a:link
{
  text-decoration: none;
}

ul
{
  list-style-type: none;
}