/*** Mise en forme des pages de compte utilisateur : ***/
#info_compte
{
  border: 2px silver solid;
  border-radius: 5px;
  width: 400px;
  height: auto;
  box-shadow: 1px 1px 20px black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background-color: #F8F8F8;
  color: black;
}

#info_compte span
{
  font-weight: bold;
}

#info_compte div
{
  margin: 15px;
}

#bouton_modification
{
  background: #212E42;
  width: 250px;
  height: 3.5em;
  border-radius: 10px;
  border: solid 2px #C5CDDA;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bouton_modification a
{
  color: #C5CDDA;
  font-weight: bold;
}

#bouton_modification:hover
{
  color: gold;
}

#info_compte img
{
  width: 100px;
  height: 100px;
}