/*** Mise en forme de la page de connexion : ***/

#formulaire
{
	border: 2px silver solid;
	border-radius: 5px;
	width: 400px;
	height: auto;
	box-shadow: 1px 1px 20px black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 20px;
	padding: 20px;
	background-color: #F8F8F8;
}

#formulaire label
{
	color: black;
	font-weight: bold;
}